<!-- content -->
<div class="content"><table bgcolor="">
    <tr>
        <td class="small" width="20%" style="vertical-align: top; padding-right:10px;"><img src="http://placehold.it/75x75" /></td>
        <td>
            <h4>Block For Man <small>This is a note.</small></h4>
            <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            <a class="btn">Clickity Click &raquo;</a>
        </td>
    </tr>
</table></div><!-- /content -->